Repository aburii/TimeIsMoney, pull requests merged in 2023-11, with the labels that each got.

#2 feat(package): add prisma service
  .gitignore
  package-lock.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/models/.eslintrc.cjs
  packages/models/.gitignore
  packages/models/package.json
  packages/models/prisma/schema.prisma
  packages/models/sample.env
  packages/models/src/index.ts
  packages/models/src/services/index.ts
  packages/models/src/services/prisma.service.ts
  packages/models/tsconfig.json
Labels: back, database

#4 Feature/tim 12 front default layout
  apps/front/app.vue
  apps/front/assets/img/logo.png
  apps/front/assets/scss/main.scss
  apps/front/components/AppFooter.vue
  apps/front/components/AppHeader.vue
  apps/front/layouts/default.vue
  apps/front/nuxt.config.ts
Labels: front

#8 feat(components): base components
  .gitignore
  apps/front/assets/scss/main.scss
  apps/front/components/AppCollapse.vue
  apps/front/components/AppFooter.vue
  apps/front/components/NavigationBar.vue
  apps/front/layouts/default.vue
  apps/front/nuxt.config.ts
  apps/front/package.json
  apps/front/pages/index.vue
  apps/front/tailwind.config.js
  package-lock.json
  package.json
  packages/ui-components/components/UIButton.vue
  packages/ui-components/components/UIDropdown.vue
  packages/ui-components/components/UIModal.vue
  packages/ui-components/components/UITable.vue
  packages/ui-components/components/UIThemeSelector.vue
  packages/ui-components/nuxt.js
  packages/ui-components/package.json
  packages/ui-components/tsconfig.json
  packages/ui-components/types/ui-table.ts
Labels: enhancement, front
