Repository aburii/TimeIsMoney, pull requests merged in 2023-12, with the labels that each got.

#17 Add article controller
  apps/back/src/app.module.ts
  apps/back/src/modules/article/article.controller.ts
  apps/back/src/modules/article/article.module.ts
  apps/back/src/modules/article/article.service.ts
  packages/coinapi/src/CoinAPI.ts
  packages/coinapi/src/types.ts
  packages/cryptocompare/src/CryptoCompareClient.ts
Labels: back, articles

#18 Crypto controller small improvements
  apps/back/src/modules/article/article.service.ts
  apps/back/src/modules/coinapi/coinapi.service.ts
  apps/back/src/modules/crypto/crypto.controller.ts
  apps/back/src/modules/crypto/crypto.module.ts
  apps/back/src/modules/crypto/crypto.service.ts
  packages/coinapi/src/CoinAPI.ts
  packages/coinapi/src/types.ts
  packages/cryptocompare/src/CryptoCompareClient.ts
  packages/cryptocompare/src/types.ts
  packages/models/package.json
  packages/models/src/seed.ts
Labels: back, cryptos

#21 Introduce CacheManager in CoinApi
  apps/back/package.json
  apps/back/src/app.module.ts
  apps/back/src/modules/coinapi/coinapi.service.ts
  apps/back/src/modules/crypto/crypto.controller.ts
  apps/back/src/modules/crypto/crypto.service.ts
  package-lock.json
  packages/coinapi/package.json
  packages/coinapi/src/CoinAPI.ts
Labels: back, cryptos

#22 Add pagination interceptor
  apps/back/src/interceptors/pagination.interceptor.ts
  apps/back/src/modules/article/article.controller.ts
  apps/back/src/modules/crypto/crypto.controller.ts
Labels: back

#23 Add auth guards to crypto controller
  apps/back/src/guards/passport/jwt-at.guard.ts
  apps/back/src/modules/crypto/crypto.controller.ts
  apps/back/src/modules/crypto/crypto.module.ts
Labels: back

#29 Front landing page
  apps/front/assets/img/chart1.png
  apps/front/assets/img/chart2.png
  apps/front/assets/img/charts.png
  apps/front/assets/img/crypto.png
  apps/front/assets/img/cryptocurrencies.png
  apps/front/assets/img/logo-bg.png
  apps/front/assets/img/logo.png
  apps/front/assets/img/news.png
  apps/front/assets/scss/main.scss
  apps/front/assets/sprite/svg/check.svg
  apps/front/components/AppFooter.vue
  apps/front/components/AppHeader.vue
  apps/front/components/Home/ChartDemoSection.vue
  apps/front/components/Home/Custom/ChartBox.vue
  apps/front/components/Home/Custom/StatBox.vue
  apps/front/components/Home/FeaturesDetailSection.vue
  apps/front/components/Home/HeroSection.vue
  apps/front/components/Home/StatSection.vue
  apps/front/nuxt.config.ts
  apps/front/package.json
  apps/front/pages/index.vue
  apps/front/pages/login.vue
  apps/front/pages/mentions.vue
  apps/front/pages/signup.vue
  package-lock.json
Labels: front

#31 Exclude fiat coins in /api/cryptos by default
  apps/back/src/modules/crypto/crypto.controller.ts
Labels: back
